body{
  background-color: whitesmoke;
  
}
h2{
  color: darkred;
  font-size: 30px;
}
p{
  font-weight: bold;
  font-size: 20px;
}
table{
  color: #0000ff;
  margin: 15px;
}
input{
  border: groove white;
  margin: 5px;
}
